.fieldSet {
  background-color: white;
  margin-bottom: 1rem;
  overflow: hidden;
}

.chevron {
  transition: transform 0.3s ease; /* Smooth transition */
  &[data-rotate="true"] {
    transform: rotate(45deg);
  }
}

.icon {
  color: black;
  width: 16px;
  height: 16px;
}

.tab {
  padding: 10px;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.tab:hover {
  background-color: #f0f0f0; /* Hover effect */
}

.tab[data-active="true"] {
  background-color: green; /* Change the background of the active tab to green */
  color: white; /* Change text color of the active tab */
}
