.fieldSet {
  background-color: white;
  margin-bottom: 1rem;
  overflow: hidden;
}

.chevron {
  transition: transform 0.3s ease; /* Smooth transition */
  &[data-rotate="true"] {
    transform: rotate(-180deg);
  }
}

.icon {
  color: black;
  width: 20px;
  height: 20px;
}

.buttonIcon {
}
