.viewContainer {
  overflow-y: auto;
  padding: 1em;
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  background-color: white;
  color: black;
}

.viewStatus {
  font-size: 14pt;
  font-family: monospace;
  height: 2rem;
  background-color: transparent;
  position: sticky;
  bottom: 0;
}
